@import "tailwindcss";
body{
    font-family: "Michroma", sans-serif;
}
@font-face {
    font-family: "Stardock";
    src: url("/Stardock.ttf") format("truetype");
}
@theme{
    --color-white: #f6f5fa;
    --color-black: #2f2e2c;
    --font-stardock: "Stardock";
}
::-webkit-scrollbar{
    display: none;
}